.grid {
  display: grid;
  grid-template-columns: 1;
}

.grid > *:not(:last-child) {
  margin-bottom: 12px;
}

@media (max-width: 540px) {
  .grid {
    width: 100%;
  }
}

/* get rid of this if you don't want big cards */
@media (min-width: 540px) {
  .grid > * {
    width: 516px;
  }
}
