.App {
  text-align: center;
}

.App-header {
  background-color: #676b72;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vh;
}

.App-link {
  color: #61dafb;
}

.App-text {
  font-size: 0.8em;
  margin: 0;
  padding: 0;
  text-align: left;
  color: "white";
}

.App-text-intro {
  font-size: 1em;
  text-align: left;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
}

.Player-name-and-image {
  display: flex;
  align-items: center;
}

.highlight {
  color: red;
}
